<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container"><a class="navbar-brand" href="/">Конференции</a>
    <div class="d-flex ml-auto">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#globalNavbar" aria-controls="globalNavbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    </div>
    <div class="collapse navbar-collapse" id="globalNavbar">
      <ul class="navbar-nav mr-auto order-1">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'central:create' %}">Создать</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'central:archive' %}">Архив</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'central:reference' %}">Справка</a>
        </li>
      </ul>
      <ul class="navbar-nav d-none d-lg-flex ml-2 order-3">
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <p class="navbar-text">{{ request.user.username }}</p>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'central:logout' %}">Выйти</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'central:login' %}">Войти</a>
        </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav d-lg-none">
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <p class="navbar-text">{{ request.user.username }}</p>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'central:logout' %}">Выйти</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'central:login' %}">Войти</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>


<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--    <div class="container">-->
<!--      -->
<!--      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->
<!--      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">-->
<!--          <ul class="navbar-nav mr-auto">-->
<!--            <li class="nav-item active">-->
<!--              <a class="nav-link" href="#">Home</a>-->
<!--            </li>-->
<!--            <li class="nav-item active">-->
<!--              <a class="nav-link" href="{% url 'central:create' %}">Создать</a>-->
<!--            </li>-->
<!--            <li class="nav-item active">-->
<!--              <a class="nav-link" href="{% url 'central:archive' %}">Архив</a>-->
<!--            </li>-->
<!--            <li class="nav-item active">-->
<!--              <a class="nav-link" href="{% url 'central:reference' %}">Справка</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--          <ul class="navbar-nav">-->
<!--            {% if request.user.is_authenticated %}-->
<!--            <li class="nav-item">-->
<!--              <p class="nav-link disabled">{{ request.user.username }}</p>-->
<!--            </li>-->
<!--            {% endif %}-->
<!--            <li class="nav-item">-->
<!--            {% if request.user.is_authenticated %}-->
<!--              <a class="nav-link" href="{% url 'central:logout' %}">Выйти</a>-->
<!--            {% else %}-->
<!--              <a class="nav-link" href="{% url 'central:login' %}">Войти</a>-->
<!--            {% endif %}-->
<!--            </li>-->
<!--          </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--</nav>-->
