{% extends 'base.html' %}


{% block content %}
<div class="container">
<p>Архив</p>
    {% for event in events %}
    <div class="card py-2 my-2">
        <p>{{ event.start_date.date }} — {{ event.end_date.date }}, срок заявок: {{ event.deadline.date }}</p>
        <a href="{% url 'central:event' event.pk %}"><h5>{{ event.name }}</h5></a>
        <strong>{{ event.country }}, {{ event.city }}</strong>
        <p>Организаторы: {{ event.organizers }}</p>
    </div>

    {% endfor %}
</div>

{% endblock %}
