{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="col-md-6">
        <p>Create</p>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper">
                    <div class="form-group">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <button class="btn btn-primary">Создать событие</button>
        </form>
    </div>
</div>
{% endblock %}
