{% extends 'base.html' %}

{% block content %}
<div class="container">

    <span>{{ event.description|linebreaksbr }}</span>

    <p>Последний день подачи заявки: {{ event.deadline.date }}</p>

    <p>Организаторы: {{ event.organizers }}</p>

    <p>Контактная информация: {{ event.contact_info }}</p>

    <p>Эл. почта: {{ event.email }}</p>

</div>

{% endblock %}