{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 my-4">
            <form method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="exampleInputEmail1">Логин</label>
                <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите логин">
                <small id="emailHelp" class="form-text text-muted">Никому не говорите пароль.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Пароль</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Пароль">
              </div>
              <button type="submit" class="btn btn-primary">Войти</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
