{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h3>Справка</h3>
На каких условиях размещается информация о конференциях на сайте "Конференции.ru"?
Информация о научных мероприятиях размещается на сайте БЕСПЛАТНО. Сайт размещает только информацию о научных или околонаучных мероприятиях.

Как быстро на сайте публикуется информация о конференциях?
На сайте информация видна сразу после загрузки ее пользователем. Неотмодерированная информация выделена цветом и специальным сообщением. Сроки модерации обычно составляют от 5 минуты до 1 суток. Невыполнение правил регистрации мероприятия существенно замедлит рассмотрением информации модератором.

Зачем регистрироваться на сайте?
Зарегистрированный пользователь имеет некоторые преимущества, а именно:
- При внесении информации имеет право последующего редактирования.
- При внесении информации не потребуется вводить код подтверждения.
- Зарегистрированный пользователь в своем профайле может заполнить форму дополнительной информации, которая используется для автоматического наполнения форм заявок на страницах конференций.
- Только зарегистрированным пользователям доступна рассылка добавлений конференций за неделю с выбором любого количества тематик.
- Зарегистрированный пользователь имеет возможность отправления быстрых сообщений со страниц мероприятий.

Есть ли какие правила регистрации конференции чтобы избегать ошибок при внесении информации?
На странице добавления мероприятия есть ссылка на рекомендации при добавлении информации в Каталог. Подробнее...

Веб-форма заявок на участие в конференции: как она выглядит и как ее включить?
Веб-форма заявок имеет стандартный вид для всех конференций нашего Каталога. Включается использование данной формы при регистрации конференции или редактировании информации.  При использовании веб-формы пользователем на адрес эл. почты оргкомитета высылается заявка в виде текста письма, а также в виде вложенного текстового cvs-файла. В перспективе развития Каталога cvs-файл будет использоваться для автоматической регистрации пользователей специальной программой. Вид веб-формы представлен здесь. При активации нашей формы заявок, имеется возможность использования дополнительных полей, а также возможность редактировать названия всех полей.
    </div>

{% endblock %}